.aider*
.env
.DS_Store
.venv
__pycache__
stock_images
node_modules
temp
temp_
*.png
*.jpg
*.jpeg
*.gif
*.webp
*.heic
*.heif
**/node_modules/**
**/stock_images/**
**/temp/**
egg-info*
face_swapping_models